<style>
  .uscologinform {
    background-color: #F4F4F4;
    border: solid 0.8px #8F141B;
    border-radius: 10px;
  }

  .uscologinform .title {
    font-family: Open Sans;
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
    color: rgba(77, 98, 108, 1);
  }

  .uscologinform .subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-size: 15px;
    font-weight: bold;
    color: rgba(77, 98, 108, 1);
  }
  
  .uscobtnLogin {
    background-color: rgb(143, 20, 27);
    overflow: visible;
    width: 184px;
    white-space: nowrap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(223, 212, 166, 1);

  }

</style>

<div class="col-6 mx-auto mt-5 p-5 uscologinform">
  <h3 class="text-center mb-5 title">Ingresa a la modalidad de grado</h3>
  <form class="col-10 mx-auto">
    <div class="form-group">
      <label for="exampleInputEmail1" class="subtitle">Usuario</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>
    <div class="form-group my-4">
      <label for="exampleInputPassword1" class="subtitle">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-lg btn-block mx-auto uscobtnLogin" style="width:100%">Entrar</button>
    <small id="emailHelp" class="form-text text-muted"><a href="">Olvidaste tu contraseña?</a></small>
  </form>
</div>